<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ProjectSourceDbContainer" connectionString="metadata=res://*/ProjectSourceDb.csdl|res://*/ProjectSourceDb.ssdl|res://*/ProjectSourceDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\BSALATO73HOU;initial catalog=InnerTrack;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="NewsFeedEntities" connectionString="metadata=res://*/Repository.NewsFeedDb.csdl|res://*/Repository.NewsFeedDb.ssdl|res://*/Repository.NewsFeedDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\bsalato73hou;Initial Catalog=InnerTrack;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>