@model DashboardModel
@{
    ViewBag.Title = "Home Page";
}

<div class="half">
    <div class="leftWrapper">
        @{ Html.RenderPartial("Controls/_ProjectStatusList", Model.ProjectStatuses); }
    </div>
</div>

<div class="half">
    <div class="rightWrapper">
        @{ Html.RenderPartial("Controls/_EventList", Model.FeedEvents); }
    </div>
</div>