<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="NewsFeedEntities" connectionString="metadata=res://*/Repository.NewsFeedDb.csdl|res://*/Repository.NewsFeedDb.ssdl|res://*/Repository.NewsFeedDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=.\bsalato73hou;Initial Catalog=InnerTrack;Integrated Security=True;MultipleActiveResultSets=True;Application Name=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>