<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="InnerTrackEntities" connectionString="metadata=res://*/InnerTrackDb.csdl|res://*/InnerTrackDb.ssdl|res://*/InnerTrackDb.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\bsalato73hou;initial catalog=InnerTrack;integrated security=True;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>